# Ignore all - Then un-ignore files with extensions - Then un-ignore all directories
# This combination excludes files without any extensions (executables)
*
!*.*
!*/

# Module Files
*.ko*
*.mod*

# C Files
*.o*
*.symvers
*.order


